:root {
    color: #fbfbfd;
    background-color: #1d1d1f;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #fbfbfd;
    box-shadow: 0 5px 10px #a8a8b6;
    color:#1d1d1f;
    height: 60px;
    margin: auto;
    
}

.header__image_logo {
    
}

#header-img {
    width: 40px;
    margin: 3px 0 3px;
}

a {
    color: #1d1d1f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

@media (max-width: 320px) {
    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #header {
        height: 100px;
    }
}

.container {
    /* display: flex; */
    max-width: 980px;
    margin: auto;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;

    /* line-height: 1px; */
}

@media (max-width: 320px) {
    #nav-bar {
        width: 300px;
    }
}